/* Three image containers (use 25% for four, and 50% for two, etc) */
* {
    box-sizing: border-box;
}

.column {
    /* float: left; */
    width: 33.3%;
    padding: 5px;
}

  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

img{
    width: 100%
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}


.fa {
    font-size: 25px;
}

.checked {
color: orange;
}


.actionButton{
    background: linear-gradient(254.15deg, #e94fa1 -20.51%, #e2654f 53.77%, #e74fe9 111.54%);
    border-radius: 5px;
    color: #FFFFFF;
    height: 30px;
    width: 130px;
    margin: 10px;
    right: 30%;
    text-align: center;
    border-width: 0px;

}

.desReserveRow{
    display: flex;
}

.des{
    width: 60%
}

.description{
    height: 100px;
    overflow: scroll;
    width: 100%
}

.reserveBox{
    width: 30%;
    position: relative;
    top: 20px;
    left:5%;
    box-sizing: border-box;
    background: #FFFFFF;
/* grey 1 */

    border: 1px solid #DBDBDB;
    box-shadow: 4px 4px 15px #DBDBDB;
    border-radius: 10px;
    height: 140px
}

.reserveInfo{
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid #DBDBDB;
    box-shadow: 4px 4px 15px #DBDBDB;
    margin: 15px;
    border-radius: 10px;
}

.price{
    font-size: medium;
    font-weight: bold;
    margin-right: 5px ;
    margin-left: 5px ;

}

.otherInfo{
    font-size: x-small;
}


.reserve{
    background: gray ;
    border-radius: 10px;
    position: relative;
    color: white;
    left: 10%;
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-width: 0px;
}
